/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #wbr_settings {
    margin-top: 40px;
 }

 /* General modals */

 #wbr-quote-container, #wbr-delivery-container {
    padding-bottom: 40px;
 }

 /* Modal shipping preview */

.wbr-shipping-preview-block, .wbr-delivery-block {
    margin-bottom: 50px;
}

.wbr-shipping-preview-input-wrapper, .wbr-delivery-data-wrapper {
    margin-bottom: 20px;
}

.wbr-shipping-preview-input-wrapper label {
    display: block;
    margin-bottom: 5px;
}

.wbr-shipping-preview-input-wrapper input {
    width: 100%;
}

.wbr-shipping-preview-input-names-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0px 20px;
}

.wbr-shipping-preview-input-wrapper.name {
    justify-content: space-between;
}

/* Modal delivery */

.wbr-delivery-block .wbr-delivery-data-wrapper small {
    font-weight: bold;
}

.wbr-delivery-block .wbr-delivery-data-wrapper p {
    margin-top: 5px;
}

.wbr-delivery-block .wbr-delivery-data-wrapper label {
    display: block;
    margin-bottom: 10px;
}

.wbr-delivery-block .wbr-delivery-data-wrapper input {
    width: 40%;
}

/* Meta boxes */

#wbr-metabox-action {
    text-align: right;
}

#wbr-metabox-action button {
    float: right;
}

